﻿<!--
    login.html
  
    Author:
         Roy Merkel <merkel-roy@comcast.net>
  
    Copyright (c) 2018 Roy Merkel
  
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
  -->
<table>
    <tr>
        <td>Name: </td><td><input type="text" ng-model="user_name" name="user_name"/></td>
    </tr>
    <tr>
        <td>Password: </td><td><input type="password" ng-model="password" name="password"/></td>
    </tr>
    <tr>
        <td>
            <select name="class_id" ng-model="class_id" ng-options="cls.class_id as cls.name for cls in classes">
            </select>
        </td> 
    </tr>
    <tr>
        <td rowspan="2"><button name="submit" ng-click="login()">Submit</button></td>
    </tr>
</table>
