﻿@*

  Index.cshtml

  Author:
       Roy Merkel <merkel-roy@comcast.net>

  Copyright (c) 2018 Roy Merkel

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
@section Header{
    <script src="js/bower_components/angular/angular.min.js"></script>
    <script src="js/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="js/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/bower_components/crypto-js/index.js"></script>
    <script src="js/bower_components/crypto-js/core.js"></script>
    <script src="js/bower_components/crypto-js/crypto-js.js"></script>
    <script src="js/bower_components/crypto-js/sha256.js"></script>
    <script src="js/bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="js/app/app.module.js"></script>
    <script src="js/app/app.states.js"></script>
    <script src="js/app/components/world-state/world-state.controller.js"></script>
    <script src="js/app/components/world-state/world-state.service.js"></script>
    <script src="js/app/components/login/login.controller.js"></script>
    <script src="js/app/components/login/login.service.js"></script>
    <script src="js/app/components/class/class.controller.js"></script>
    <script src="js/app/components/class/class.service.js"></script>
    <script src="js/app/components/hud/hud.controller.js"></script>
    <script src="js/app/components/hud/hud.service.js"></script>
}

<noscript>
    <h1>This page uses angular, please turn on javascript, or switch to a browser that supports javascript, and try again.</h1>
</noscript>

<div ng-app="gameOfLifeApp">
    <ui-view></ui-view>
</div>
